.flexRow--header-desktop {
    border-bottom: 1px solid #c9c9c9;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexRow--menu-header {
    border-bottom: 1px solid #c9c9c9;
}
.flexRowContent--menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
}

.flexRow--flexlay-top-bar .container {
    margin: 0;
    padding: 0;
    width: 100%;

}
.flexRowContent--flexlay-mobile-search {
    background-color: #f1f0f0;
}

.flexRowContent--main-header-mobile {
    background-color: #fff;
}