.styledLinkContent--header-item-menu-promania,
.styledLinkContent--header-item-menu {
    font-family: 'open sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
}
.styledLinkContent--header-item-menu-promania:hover,
.styledLinkContent--header-item-menu:hover {
    text-decoration: underline;
}
.styledLinkContainer--header-item-menu {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}
.styledLinkContent--header-item-menu-promania {
    color: #b2cf3b;
}

.submenuWrapper {
    width: 100%;
    justify-content: center;
    margin: 0;
    border: 0;
    background-color: transparent;
}
.submenu {
    width: 80%;
    background-color: #fff;
    padding: 25px;
    box-shadow: 2.4px 1.8px 4.4px 0.7px rgba(0,0,0,.15);
}
.submenuContainer {
    position: unset !important;
    width: 100%;
}
.styledLinkContent {
    white-space: unset;
}
.menuItem .styledLinkContent {
    font-size: 13px;
}
.styledLinkContent--sub-menu-header {
    font-weight: bold;
    font-size: 15px !important;
    white-space: nowrap;
    transition: all 0.3s;
}
.styledLink--sub-menu-item {
    font-weight: 500;
    color: #727272;
}
.styledLinkContent--sub-menu-item {
    padding: 4px;
}
.styledLink--sub-menu-item:hover {
    color: red;
}
.menuContainerNav {
    padding: 0 25px;
    border-right: 1px solid #e7ecef;
}