.searchBarContainer {
    width: 612px;
    margin: 0 150px;
}
.autoCompleteOuterContainer--header-search :global(.vtex-styleguide-9-x-input) {
    max-width: 100%;
}
.autoCompleteOuterContainer--header-search :global(.vtex-input-prefix__group) {
    border: 1px solid #000;
    border-radius: 0;
}
.infoCardTextContainer--banner-menu-femei {
    display: none;
}
.infoCardImageContainer--banner-menu-femei {
    width: 100%;
    max-width: 220px;
}