.searchBarContainer {
    width: 612px;
    margin: 0 100px;
}
.autoCompleteOuterContainer--header-search :global(.vtex-styleguide-9-x-input) {
    max-width: 100%;
}
.autoCompleteOuterContainer--header-search :global(.vtex-input-prefix__group) {
    border: 1px solid #000;
    border-radius: 0;
}
.infoCardTextContainer--banner-menu {
    display: none;
}
.infoCardImageContainer--banner-menu {
    width: 100%;
    max-width: 220px;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: unset;
}